<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Create Classroom
        </h1>
        <%- include ("./partials/messages") %>
        <form action="/users/dashboard/createClassroom" method="POST">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="name"
              id="title"
              name="title"
              class="form-control"
              placeholder="Enter Title"
              value="<%= typeof title != 'undefined' ? title : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="subject">Subject</label>
            <input
              type="name"
              id="subject"
              name="subject"
              class="form-control"
              placeholder="Enter Subject"
              value="<%= typeof subject != 'undefined' ? subject : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Create
          </button>
        </form>
      </div>
    </div>
  </div>
  