<h1 class="mt-4">Dashboard</h1>


<p class="lead mb-3">Welcome, <%= user.name %> ! </p>
<%- include ("./partials/messages") %>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/users/dashboard/createClassroom" class="btn btn-secondary"> Create Classroom </a>
<a href="/users/dashboard/joinClassroom" class="btn btn-secondary"> Join Classroom </a>

<p class="lead mb-3"> <%= user.classrooms.length %> classrooms joined </p>
