<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Join Classroom
        </h1>
        <%- include ("./partials/messages") %>
        <form action="/users/dashboard/joinClassroom" method="POST">
          <div class="form-group">
            <label for="code"> Code </label>
            <input
              type="name"
              id="code"
              name="code"
              class="form-control"
              placeholder="Enter Code"
              value="<%= typeof code != 'undefined' ? code : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Join
          </button>
        </form>
      </div>
    </div>
  </div>
  